@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Poppins:700');
:root {
    --display: 'Poppins', sans-serif;
    --body: 'Open Sans', sans-serif;
    /* --darker: rgb(17, 210, 145); */
    --darker: #067F56;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

html {
    /* font-size: 112.5%; */
    font-size: 18px;
}


/*18px*/

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.25;
    color: #333;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    /* margin: 3rem 0 1.38rem; */
    margin: 1rem auto 1rem 0rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* line-height: 1.3; */
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
    line-height: 2.488rem;
}

h2 {
    font-size: 2.074rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.44rem;
    margin-bottom: .5rem;
    line-height: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.833rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(21, 21, 21);
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

nav * {
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}

button {
    font-weight: 700;
    color: white;
    font-size: 1rem;
    background-color: rgb(17, 210, 145);
    border: none;
    /* margin-right: 1rem; */
    padding: 1rem;
    border-radius: 8px;
}

button:hover {
    transform: scale(102%) translateY(-.01rem);
    box-shadow: 2px 2px 4px rgba(109, 109, 109, 0.283);
    filter: brightness(115%);
    color: white;
    transition: all .3s;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

a {
    color: inherit;
}

a:hover {
    transform: scale(102%);
    filter: brightness(150%);
    transition: all .3s;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    border-top: solid .5px aquamarine;
    padding: 6rem 2rem 6rem 2rem;
}

.logo {
    font-family: var(--display);
    color: var(--darker);
    text-decoration: none;
    font-weight: 700;
}

a.logo {
    font-size: 1.2rem;
}

.header_text {
    align-self: center;
    margin-bottom: 2rem;
}

header * {
    max-width: 52ch;
}

.header_graphics {
    width: 30vw;
    height: 30vw;
    min-width: 300px;
    min-height: 300px;
    border-radius: 300px;
    background-color: aquamarine;
    background-image: linear-gradient(to bottom left, white, aquamarine, rgb(29, 208, 190));
    /* margin: auto; */
}

header p {
    max-width: 40ch;
    margin-bottom: 4rem;
}

li a {
    text-decoration: none;
}

html {
    font-size: 112.5%;
}

section {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 8rem;
}

p {
    margin-bottom: 1rem;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: .5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(237, 237, 237);
}

footer section {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 3rem;
    /* border: solid 1px aquamarine; */
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer ul li {
    text-decoration: underline;
}

.advantages_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.advantages_card {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
    background-color: white;
    /* padding-bottom: 2rem; */
    border-radius: 8px;
    box-shadow: 5px 8px 4px rgba(140, 140, 140, 0.283);
    /* border: solid 2px rgb(21, 31, 28); */
}

.advantages_card:hover {
    transform: scale(101%) translateY(-.3rem);
    box-shadow: 7px 10px 6px rgba(109, 109, 109, 0.283);
    transition: all .3s;
}

.advantages_card_text {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
}

.advantages_card_graphics {
    width: 100%;
    max-height: 300px;
    min-height: 250px;
    background-image: linear-gradient(to bottom right, white, rgb(228, 255, 252), aquamarine, rgb(29, 208, 190));
    /* border: solid 2px aquamarine; */
    margin: auto;
    border-radius: 8px 8px 0 0;
}

.product_container {
    display: flex;
    columns: 2;
    gap: 4rem;
}

.product_graphics {
    width: 100%;
    min-height: 100%;
    /* min-height: 300px; */
    min-width: 4vw;
    border-radius: 40px 5px 40px 5px;
    background-image: linear-gradient(to bottom right, rgb(175, 255, 228), white, rgb(228, 255, 252), aquamarine, rgb(29, 208, 190));
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.highlight {
    background-color: aquamarine;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.highlight h2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2.488rem;
    max-width: 30ch;
}

.highlight_small_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.highlight_small_cards div {
    width: 45%;
    height: auto;
    min-width: 400px;
    /* border: solid 4px #333; */
    background-color: rgba(255, 255, 255, 0.817);
    padding: 6rem 2rem 6rem 2rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 5px 8px 4px rgba(140, 140, 140, 0.283);
}

.highlight button {
    color: #333;
    background-color: rgba(255, 255, 255, 0.783);
    box-shadow: 5px 8px 4px rgba(140, 140, 140, 0.283);
}

#team article {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 2rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 5px 8px 4px rgba(140, 140, 140, 0.283);
}

#team article section {
    padding: 0;
    margin: 0;
}

.team_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.team_text ul {
    display: block;
    line-height: 1.5rem;
}

.team_text a {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--darker);
}

.team_graphics {
    background-image: linear-gradient(to bottom right, white, rgb(228, 255, 252), aquamarine, rgb(29, 208, 190));
    width: 50%;
    min-width: 350px;
    height: 350px;
    border-radius: 8px;
}

.flipped {
    order: 1;
}

#contact_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form_group * {
    width: 100%;
}

#name,
#email {
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem
}

#name_group {
    /* width: 100%; */
    grid-column: 1/2;
}

#email_group {
    /* width: 100%; */
    grid-column: 2/3;
}

#message_area {
    grid-column: 1/3;
    width: 100%;
}

textarea {
    resize: none;
    height: 10rem;
}

#name,
#email,
textarea {
    border: solid 2px #666;
    border-radius: 8px;
}

#contact_form :last-child {
    margin-top: .5rem;
}

#submit_button {
    margin-top: .5rem;
    grid-column: 1/3;
}

@media screen and (max-width: 700px) {
    nav ul {
        display: none;
    }
    section {
        padding: 1rem;
    }
    .product_container {
        flex-wrap: wrap;
        gap: 0rem;
    }
    .product_graphics {
        height: 300px;
    }
    .product footer,
    footer section {
        flex-direction: column;
    }
    footer section {
        gap: auto;
    }
    #contact_form {
        display: flex;
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    footer section {
        padding: 0;
        flex-direction: column;
        margin-top: 2rem;
    }
}